* {
    box-sizing: border-box;
}

body {
    margin: auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    font-size: large;
    margin-top: 2rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border: none;
    border-radius: 1rem;
}

.container {
    width: 960px;
    display: flex;   
    justify-content: space-between;
    flex-wrap: wrap;
}