* {
    box-sizing: border-box;
}

body {
    margin: auto;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}

.container > div {
    margin-block: 1rem;
    margin-inline: 1rem;
}

.container > div:hover {
    background: green;
}